```<h1>Welcome to the home page of The Gossip Project !</h1>
<p>Want to know more about the team ? Click <a href="http://localhost:3000/static_pages/team">here</a></p></br>
<p>Want to contact the team ? Click <a href="http://localhost:3000/static_pages/contact">here</a> to get their info</p>```